# Configurações Gerais
aws_region  = "<Substitua>"
environment = "<Substitua>"
owner       = "<Substitua>"

# Configurações de Rede
vpc_cidr         = "<Substitua>"
allowed_ssh_cidr = "<Substitua>"  # Substitua pelo seu IP

# Configurações do RDS
db_name     = "<Substitua>"
db_username = "<Substitua>"
db_password = "<Substitua>"

# SSH
key_name        = "nome da chave"
public_key_path = "caminho da chave"

#O BANCO RETIREI DO MAIN.TF (ROOT) DO PROJETO, SE NECESSÁRIO ACRESCENTAR AO CÓDIGO.